// 边框线的颜色
$lineBorderColor: #dfdfdf;
// 盒子的宽度
$boxWidth: 750rpx;
// 盒子的背景颜色
$boxBgColor: #efefef;
// 列表标题文字大小
$listTitleSize: 36rpx;
// 列表标题文字颜色
$listTitleColor: #333;
// 列表文字大小
$listTextSize: 30rpx;
// 列表文字颜色
$listTextColor: #999;
// 点击的hover样式
$clickLightColor: #f8f9fa;
$clickDarkColor: #333;
// icon图标的统一文字大小
$iconSize: 60rpx;
// 点击选中的背景颜色
$selectedColor: #07c261;

// 铺满屏幕的定位模式
@mixin fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

// 底部边框样式
@mixin borderBottom {
	border-bottom-color: $lineBorderColor;
	border-bottom-width: 1rpx;
	border-style: solid;
}

// 顶部边框样式
@mixin borderTop {
	border-top-color: $lineBorderColor;
	border-top-width: 1rpx;
	border-style: solid;
}

// 水平垂直居中
@mixin center {
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

// 垂直居中
@mixin verticalCenter {
	flex-direction: row;
	align-items: center;
}

// 水平居中
@mixin horizontalCenter {
	flex-direction: row;
	justify-content: center;
}

// 列表标题
@mixin listTitle {
	font-size: $listTitleSize;
	color: $listTitleColor;
}
// 列表文字
@mixin listText {
	font-size: $listTextSize;
	color: $listTextColor;
}

// 文字溢出省略
@mixin wordBreak {
	/* #ifdef APP-PLUS-NVUE */
	lines: 1;
	text-overflow: ellipsis;
	/* #endif */
	
	/* #ifndef APP-PLUS-NVUE */
	display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
	overflow: hidden;
	word-break: break-all;  /* break-all(允许在单词内换行。) */
	text-overflow: ellipsis;  /* 超出部分省略号 */
	-webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
	-webkit-line-clamp: 1; /** 显示的行数 **/
	/* #endif */
}

// 图标的统一样式
@mixin iconStyle {
	width: 60rpx;
	height: 60rpx;
}

// 分割线盒子布局
@mixin splitLineBox {
	width: $boxWidth;
	height: 40rpx;
	background-color: $boxBgColor;
}

// 导航栏样式
@mixin tabBarStyle {
	width: $boxWidth;
	background-color: $boxBgColor;
}

// 右箭头样色
@mixin arrowStyle {
	font-size: 28rpx;
	color: $listTextColor;
}
